<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <dt>Followers</dt>
  <dd><%= @total_followers %>
  <% if @current_user.id != @the_user.id %>
    <% if @current_user.sent_follow_requests.map(&:recipient_id).include? @the_user.id %>
      <% if @current_user.sent_follow_requests.where({ :recipient_id => @the_user.id }).at(0).status == "pending" %>
      Request sent <a href="/delete_follow_request/<%= @current_user.id %>/<%= @the_user.id %>">Cancel</a>
      <% else %>
      <a href="/delete_follow_request/<%= @current_user.id %>/<%= @the_user.id %>">Unfollow</a>
      <% end %>
    <% else %> 
        <div>
              <form action="/insert_follow_request" method="post">
                <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">

                <button>
                  Follow
                </button>
              </form>
        </div>
    <% end %>
  <% else %>
    <dt>Pending follow requests</dt>
    <% @pending_followers.each do |pending| %>
      <dd>
        <%= pending.sender.username %>
      </dd>
    <% end %>
  <% end %>
  </dd>

  <dt>Following</dt>
  <dd><%= @total_following %></dd>

  <% if @current_user.id == @the_user.id %>
    <dt>Edit user</dt>
    <dd>
      <form action="/modify_user" method="post">
        <div>
          <label for="username">
            Username
          </label>
          <input type="text" id="username" name="query_username" value="<%= @current_user.username %>">
        </div>
        <div>
          <label for="private">
            Private?
          </label>
          <input type="checkbox" id="private" name="query_private">
        </div>
        <button>
          Update user
        </button>
      </form>
    
    </dd>
  <% end %>

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= @the_user.photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

<% @the_user.photos.each do |a_photo| %>

  <tr>

    <td>
      <img src="<%= a_photo.image %>">
    </td>

    <td>
      <%= @the_user.username %>
    </td>

    <td>
      <%= a_photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(a_photo.created_at) %> ago
    </td>

    <td>
      <%= a_photo.likes_count %>
    </td>

    <td>
      <a href="/photos/<%= a_photo.id %>">
        Show details
      </a>
    </td>
  </tr>

<% end %>